{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | connexion{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 text-center">
            <h1 class=" border-bottom border-white m-5 p-3">Connexion</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <form method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email : </label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre Email ?" autofocus required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe : </label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe ?" required>
                </div>

                <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div>
    </div>
{% endblock %}