{% extends "base.html.twig" %}

{% block title %}home{% endblock %}

{% block body %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur 
    veritatis nihil enim nobis aliquam sequi laudantium voluptatum voluptas! 
    Nemo, laudantium placeat. Deserunt dolor et tempora beatae explicabo labore 
    nisi sint.</p>
{% endblock %}
