{% extends "base.html.twig" %}

{% block title %}home{% endblock %}

{% block body %}
<div class="row">
    <div class="text-center">
        <h1 class=" border-bottom border-white m-5 p-3">Développeur Web PHP/Symphony</h1>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <img src="/Assets/images/photoAbou.jpg" alt="Ma photo" class="maPhoto rounded-circle">
        <p>Abou Diallo le développeur moderne qu'il vous faut</p>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2 class="border-bottom border-white m-5 p-3">Mes informations personnelles</h2>

        <div class="row">
            <div class="col">
                <div>
                    <img src="/Assets/images/contact/tel.png" alt="Logo téléphone" width="100px">
                </div>
                <div class="m-2">
                    <p>(fr) +33 6 65 03 64 71 - (en) +44 7 546 814 943</p>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="/Assets/images/contact/linkedin.png" alt="Logo linkedin" width="100px">
                </div>
                <div class="m-2">
                    <a href="https://www.linkedin.com/in/abou-diallo-896b9017a" target="_blank">Linkedin</a>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="/Assets/images/contact/GitHub.png" alt="Logo GitHub" width="100px">
                </div>
                <div class="m-2">
                    <a href="https://github.com/Abou78" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row monBouton">
        <div class="col text-center m-3">
            <a class="btn btn-primary rounded-pill" href="/Assets/images/A.DIALLO CV.pdf" download="CV-A.DIALLO">Téléchargez mon CV</a>
        </div>
    </div>

</div>

<div class="row">
    <div class="col">
        <h2 class="text-center border-bottom border-white m-5 p-3">Formulaire de contact</h2>
    </div>
</div>

<div>

</div>
{% endblock %}
